/* HEADER */

.logo {
    width: 10%;
    height: 10%;
}

.header {
    display: flex;
    column-count: 3;
}

.nav {
    padding: 85px;
}

.menu {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

) a {
    text-decoration: none;
    font-size: 100%;
    color: black;
}

li {
    display: inline;
    padding: 12px;
    margin-top: 90px;
}

.search {
    height: 100px;
    padding: 85px;
}

.loupe {
    height: 20px;
    width: 20px;
}


/* BANNIÈRE */

.banniere {
    width: 100%;
}


/* CHAUSSURES DU MOMENT */

.shoes {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    padding: 10px;
    color: purple;
}

.wrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    display: grid;
    text-align: center;
    padding: 3%;
}

.moment {
    width: 80%;
    height: 80%;
}

.para {
    padding: 6%;
}

tr {
    border: 1px solid black;
}

footer {
    background-color: grey;
}